@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "Spartan";
  color: #2A293E;
}

.newPostDiv {
  background: #f8f4e5;
  padding: 10px 100px 50px 100px;
  border-top: 10px solid #f45702;
}

.newPostDiv button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;  
}

#postFeed{
  background: #f8f4e5;
  padding: 10px 100px 50px 100px;
  border-top: 10px solid #f45702;
}

#buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.singlePost{
  border-bottom: 1px solid grey;
  /* margin: 2em; */
  padding: .5em;
}

p{
  margin-bottom: 1em;
  font-size: 15pt;
  font-weight: bold;
}
h3{
  font-weight: normal;
}

label, input, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

ul{
  display: block;
  list-style: none;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

input {
  margin-bottom: 24pt;
}

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
  background: white;
}

textarea {
  resize: none;
}


/* this field required */
h6{
    font-size: 8pt;
    color: #f45702;
    font-weight: bold;
}
.date{
    font-size: 8pt;
    color: black;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
  
}

#submitNew {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}

#submitNew:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
  
}
